<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register Form</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<h2>Register Form</h2>

<div th:if="${error}" style="color: red;">
  <p th:text="${error}"></p>
</div>

<form th:action="@{/register}" th:object="${clientDTO}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
  </div>
  <div>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" th:field="*{surname}" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>
    <div class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
  </div>
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" required>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
</body>
</html>
