<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hairdise</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header>
  <h1>Hairdise</h1>
  <nav>
    <a href="/hairdressers">Hairdressers</a>
    <a href="/services">Services</a>
    <a href="/top5">Top 5</a>
  </nav>
  <div class="button-container">
    <a href="/login" class="button">Log in</a>
    <a href="/register" class="button">Register</a>
  </div>
</header>

<div class="container">
  <div class="image-container">
    <img src="/images/salon.jpeg" alt="Salon Description Image">
  </div>
  <div class="description">
    Welcome to Hairdise, your go-to for fantastic hair care and styling! Nestled in the heart of the city,
    our skilled stylists have been crafting beautiful looks for two wonderful years. Whether you're after a trendy cut
    or a relaxing treatment, we offer a welcoming atmosphere and top-notch products to ensure you leave feeling fabulous.
    Join us at Hairdise for an exceptional salon experience!
  </div>
</div>
</body>
</html>
